{{define "listconfs"}}

<h1>List Conferences</h1>
{{range .Data}}
<h3>{{.Title}}</h3>
  <p>
  <table cellpadding="5px" border="1"> 
    <tr><th>Conference Title</th>
        <th width="25%">Description</th>
        <th>Organizer</th>
        <th>Category</th>
        <th>City</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Max Attendees</th>
        <th>Buy ticket</th>
        <th>Conf Key</th>
    </tr>
    {{range .Conferences}}  
      <tr><td>{{ .Name }}</td>
          <td>{{ .Description }}</td>
          <td>{{ .Organizer }}</td>
          <td>{{ .Topic }}</td>
          <td>{{ .City }}</td>
          <td>{{ date .StartDate }}</td>
          <td>{{ date .EndDate }}</td>
          <td>{{ .MaxAttendees }}</td>
           <td><a href="/showtickets?conf_name={{.Name}}&conf_key_str={{.Key}}">Buy Ticket</a></td>
          <td>{{ .Key }}</td>
       </tr>
    {{end}}
  </table><br/><br/>
  </p>
{{end}}

{{end}}
