<!--
  Copyright 2013 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD style
  license that can be found in the LICENSE file.
-->

{{define "userprofile"}}

<h1>Edit your User Profile</h1>

<h3>You are registered to attend the following conferences:</h3>
{{range .Data.Attending}}
	<p>{{.}}</p>
{{else}}
	<p>The list is empty!</p>
{{end}}

<hr>

{{with .Data}}
<p><b>Your main email is:</b> {{.MainEmail}}</p>
<form action="/saveprofile" method="post">
	<p><b>What is your name?</b></p>
	<input type=text value="{{.Name}}" name="person_name" />

	<p><b>What conference topics are you interested in?</b></p>
	<select name="topics" multiple>
		{{range $.Topics}}
			<option value="{{.}}" {{if $.Data.InterestedIn . }} selected {{end}}>{{.}}</option>
		{{end}}
	</select>

	<p><b>What is your email for receiving notifications?</b></p>
	<input type=text value="{{.NotifEmail}}" name="notification_email" /></p>

	<input type=submit value="Update my user profile" id=updateprofile />
</form>
{{end}}

{{end}}
